body{
    box-sizing: border-box;
}

.nav-link-text {
    font-size: 20px;
}

.active-nav{
    color: rgb(0, 123, 255) !important;
}

.custom-nav-btn:hover{
    background-color: rgb(0, 123, 255);
    color: white;
}

.fa-plus{
    color: rgb(0, 123, 255);
}

.custom-nav-btn:hover .fa-plus {
    color: inherit;
}

.search-bar {
    min-width: 20%;
    max-width: 40%;
}

.normal-footer{
    margin-top: 20vh;
}

.data-science-footer {
    margin-top: 35vh;
}

.footer-adjustment{
    min-height: 75vh;
}

.technology-intro {
    background-color: rgba(108, 117, 125, 0.03);
}

.checkboxes{
    width: 20px !important;
    height: 20px !important;
}

.filter-border{
    border: solid 1px rgb(0, 123, 255);
}

.filter-underline{
    border-bottom: solid 1px rgba(0, 123, 255, 0.3);
}

.upvote{
    width: 8%;
    height: 50%;
    background-color: rgba(128, 128, 128, 0.1);
}

.btn-no-outline:focus{
    outline: none;
    box-shadow: none;
}

.technology-image{
    width: 40px;
}

.technology{
    height: 80px;
}

.tutorial-url{
    font-weight: 100;
    font-size: 25px;
}

.tutorial-url:hover{
    font-weight: 500;
}

.filter-span:hover{
    cursor: pointer;
}

.login-logos{
    width: 40px;
    height: 40px;
}

.social-login-border{
    border-left: solid gray 2px;
    
}

.social-button:hover{
    font-size: 20px;
}

.tutorial-card {
    height: 30.5vh;
}

.active{
    background-color: rgb(0, 123, 255);
    color: white;
}

.pagination-numbers:hover{
    cursor: pointer;
}

.tutorial-card{
    background-color: rgba(0, 255, 255, 0.1);
    border: black solid 1px;
    box-shadow: 2px 5px 15px 2px rgba(0,0,0,0.2);
    transition: 0.5s;
}

.tutorial-card:hover{
    transform: scale(1.03);
}